@{
    ViewBag.Title = "Create";
}

<h2>Color Converter</h2>


@using (Html.BeginForm("Create", "Color", FormMethod.Post))
{
    @Html.Label("FirstColor", "FirstColor")
    @Html.TextBox("ColorOne", "", htmlAttributes:new { @class = "form-control", @placeholder = "#FFFFFFFF", type = "string" })

    @Html.Label("SecondColor", "SecondColor")
    @Html.TextBox("ColorTwo", "", htmlAttributes: new { @class = "form-control", @placeholder = "#FFFFFFFF", type = "string" })
    
    <button type="submit" class="btn btn-default">Submit</button>
}

@ViewBag.NewColor


@Html.ActionLink("Home", "Index", "Home")