@model Auction.DAL.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bid.ITEMID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bid.ITEMID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seller.SELLERNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seller.SELLERNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITEMNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEMNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITEMDESC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEMDESC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ITEMID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
